body {
    text-align: center;
    font-family: Arial;
}


/* pour que header + page fassent 100% de la page */
.header_form{
    height: 100vh;
    min-height: 100vh;
    background-color: #F7F9FB
}

/* position du formulaire */
.interieur {
    position: relative;
    padding: 20px;
}


/* format et style du texte */
.texte {
    color: #91CEC2;
    background-color:white ;
    border-radius: 15px; 
    border-style: solid;
    border-color: #91CEC2;
    height: 500px;
    width: 650px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 0 0;
    position: relative;
}

/*style des input*/

.texte h2 {
    font-size: 30px;
    margin: 15px;
}


/* infos nom et prenom + mdp -- infos @ et tel -- adresse client */
.prenom_nom, .joindre, .adresse{
    width: 90%;
    margin-left: 32.5px;
}
.prenom_nom input, .joindre input , .adresse input{
    margin: 0 7.5px 25px 7.5px;
    padding: 10px;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.16);
    font-size: 13px;
}
.joindre input{
    margin-bottom: 5px;
}


/* newsletter */ 

.moyen{
    position: absolute;
    left: 30px;
}
.select{
    position: absolute;
    left: 227.5px ;
}
.rond{
    position: absolute;
    right: 30px ;
}
.rond, .select, .moyen{
    width: 30%;
    margin-right: 0;
    text-align: left;
}
.rond label, select option, .moyen label{
   color: black;
   font-size: 16px;
}
.rond p, .select p, .moyen p{
    font-size: 18px;
    margin: 5px 0;
}
.select{
    text-align: center;
}

select{
    padding: 10px;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.16);
    font-size: 13px;
}

.box {
    text-align: left;
    cursor: pointer;
}


/* format et style bouton */
.bouton {
    font-size: 22px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    text-transform: uppercase;
    cursor: pointer;
    height: 60px;
    width: 160px;
    color: white;
    background-color: #91CEC2;
    position: absolute;
    bottom: 10px;
    left: 245px;
}

.bouton:hover {
    transform: scale(0.92);
}