/* connectez-vous */

.connexion{
    margin: 25px 0;
}

#apparition2{  /* Pour cacher le checkbox */
    visibility: hidden;
    opacity: 0;
    position: relative;
  }
  
  #apparition2:checked ~ dialog {   /* Quand le label est check alors on fait apparaître le dialog */ 
    display: block;
    margin: auto;
    top: 15%;
    left: 10%;
  }
  
  label{
    background: #91CEC2;
    color: white;
    padding: .5em 1em;
    margin:  40px 135px;
    border-radius: 4px;
    cursor: pointer;
  }
  @keyframes appear {
    0%{
      opacity: 0;
      transform: translateY(-10px);
    }
  }
  
  dialog{
    animation: appear 350ms ease-in 1;
    max-width: 500px;
    min-height: 20vh ;
    min-width: 300px;
    border-radius: 15px;
    border-color: #91CEC2;
    background-color: rgba(white, white, white, 0.5);
    text-align: center;
  }
  dialog label{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 6px 6px;
  }
  dialog h3 {
    font-size: 26px;
    color: #91CEC2;
  }
  dialog input{
    margin: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    min-height: 30px;
    min-width: 200px;
    outline: transparent;
  }
  #cookie{
    box-shadow: 0;
    min-height: 0;
    min-width: 0;
  }
  #envoyer {
    font-size: 20px;
    background-color:#91CEC2 ;
    cursor: pointer;
    color: white;
  }